<html>
    <head>
        <title>
            CSS Selectors
        </title>
        <style>
            body{
                background-color: red;
            }    
            #heading{
                color:yellow;
            }
            .pclass{
                background-color:yellow;
            }
            .pclass1{
                background-color:blue;
            }
        </style>
    </head>
    <body>
        <h1 id = "heading">
            CSS Selector ID
        </h1>
        <p class = "pclass">
            I am in class selector
        </p>
        <p id = "heading">
            Hai
        </p>
        <h2 class = "pclass1">
            welcome
        </h2>
    </body>
</html>
