body {
    background-color:azure;
}

.counter-container {
    text-align: center;
    margin-top: 250px;
}

.counter-container h1 {
    font-family: 'Times New Roman', Times, serif;
    color:darkblue;
    font-size: 5rem;
    margin-top: -200px;
}

#heading {
    color: crimson;
    font-size: 5em;
    margin: 0;
    text-align: center;
    padding: 50px;
}

.buttons {
    box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    border: 1px solid grey;
    padding: 20px;
    border-radius: 4px;
    max-width: fit-content;
    margin: auto;
    justify-content: space-evenly;
    gap: 15px;
    background-color: aliceblue;
}

.increment-button {
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
    background-color:lightgreen;
    border-radius: 4px;
}

.decrement-button {
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
    background-color: #FF6B6B;
    border-radius: 4px;
}

.reset-button {
    border: 1px solid grey;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

